<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/EasyUI/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/EasyUI/themes/icon.css">
</head>
<body>
<script type="text/javascript" src="/EasyUI/jquery.min.js" ></script>
<script type="text/javascript" src="/EasyUI/jquery.easyui.min.js" ></script>
<script type="text/javascript" src="/EasyUI/locale/easyui-lang-zh_CN.js" ></script>
<div  class="easyui-layout" fit="true" >
    <div data-options="region:'north',title:'招聘后台管理',collapsible:false" style="height:100px;"></div>
    <div data-options="region:'west',title:'功能管理'" style="width:200px;"></div>
    <div data-options="region:'center'" ></div>
</div>
</body>
</html>